#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */

    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;

}

h1 {
    text-align: center;
}


#container div {
    height: 100px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}


/* 
------------------ Justify Content -----------------------------
Tells how the browser distributes space between and around content items along the main axis

Example:

justify-content: flex-start;

justify-content: flex-end;

justify-content: center;

justify-content: space-between;

justify-content: space-around;

justify-content: space-evenly;
*/