body {
  font-family: georgia;
}

p {
  color: red;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(0, 255, 0);
}
button {
  background-color: white;
  color: blueviolet;
}

textarea {
  color: #000;
}

p {
  line-height: 30px;
}

