#container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    /* flex-wrap: wrap; */

    align-content: flex-start;


}

#org {
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    /* align-self: center; */
    align-self: baseline;
}

h1 {
    text-align: center;
}


#container div {
    height: 100px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}


/* 
-------------------- Align-self -------------------------

Aligns an item along the cross axis

Exmaple: 

align-self: flex-start;

align-self: flex-end;

align-self: center;

align-self: baseline;
*/