div {
    height: 300px;
    width: 300px;
    background-color: pink;
}



/* 
Height:
by default, it sets the content area height of the element

Width:
By default, it sets the content area width of the element
*/