div {
    height: 300px;
    width: 300px;
    background-color: pink;
    border: 5px solid black;
    border-radius: 10px;
    padding-top: 10px;
    margin: 20px;
}

h1 {
    border: 2px dashed green;
}

button {
    border: 2px solid black;
    border-radius: 10px;
    /* padding-left: 25px;
    padding-right: 25px; */
    padding: 0 25;
    background-color: yellow;
}


/* 
----------------- Margin ------------------------

- margin-left
- margin-right
- margin-top
- margin-bottom
*/

/* 
----------------- margin Shorthand -------------------

#1. for all 4 sides
margin: 50px;

#2. top & bottom | left & right
margin: 1px 2px;

#3. top | left & right | bottom
margin: 1px 2xp 3px;

#4. top | right | bottom | left (*clockwise)
margin: 1px 2px 3px 4px;
*/