#container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */

    justify-content: flex-start;

    align-content: flex-start;


}

#org {
    align-self: flex-start;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /*flex: 2; */                   /*shorthand*/
    flex: 2 2 100px;          /*shorthand*/
}

#blue {
    /* flex-basis: 400px; */
    /* flex-grow: 1; */
    /* flex-grow: 2; */
    /* max-width: 50px; */
    /* min-width: 40px; */

    /* flex-shrink: 1; */
    /* flex-shrink: 2; */
    /* flex-shrink: 3; */

    flex: 2;           /*shorthand*/
}

h1 {
    text-align: center;
}


#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}



/* 
--------------------- flex shorthand -------------------------

==> flex-grow | flex-shrink | flex-basis
flex: 2 2 100px;

==> flex-grow | flex basis
flex: 1 100px;

==> flex-grow (unitless)
flex: 2;

==> flex=basis 
flex: 100px;
*/