div {
    height: 300px;
    width: 300px;
    background-color: pink;
    border: 5px solid black;
    /* border-radius: 50px; */
    border-top-right-radius: 50px;
    /* border-radius: 50%; */
}

h1 {
    border: 2px dashed green;
}

/* 
------------- border-radius -------------------
Used to round the corners of an element's outer border edge
*/