#outer {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: pink;
    font-size: 20px;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    font-size: 0.5em;   /*means half of (outer)font-size: 20px = 10px*/
    padding: 3em;       /*means two times of (inner)font-size: 0.5em; = 10px .....(10*3em = 30px)*/
}

button {
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid green;
    padding: 0 1em;
}

section {
    font-size: 15px;
}

div {
    font-size: 2em; /*this is drowback of (em).... this problem can solve using (rem) */
}


/* 
---------------- (em) unit -----------------------------
font-size of the parent, in the case of typographical properties like font-size, and font-size of the element itself, in the case of other properties like width.
*/

/* 
--------------------- (rem) unit -----------------------------
rem (root em):
font-size of the root element

*/

/* 
----------------- Drawback of Em --------------------
Snowballing effect in nested elements
*/