#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;        /*default*/
    /*flex-direction: column;*/     /*arrange box vertically*/
}

h1 {
    text-align: center;
}


#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

/* 
------------------- Flexbox Direction --------------------
It sets how flex items are placed in the flex container, along which axis and direction.

Example:

flexbox-direction: row;    (main axis, left to right) 

flexbox-direction: row-reverse      (main axis, right to left

flexbox-direction: column;        (main axis, top to bottom)

flexbox-direction: column-reverse;      (main axis, bottom to top)
*/