/* 
div {
    height: 200px;
    width: 200px;
    background-color: #4dff00ff;
    transition-duration: 1s;
    transition-delay: 1s;
    transition: 1s;
}

div:hover {
    background-color: black;
    border-radius: 50%;
} 
*/ 


div {
    height: 200px;
    width: 200px;
    background-color: #4dff00ff;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in-out 0.2s;
}

div:hover {
    margin-top: 400px;
    background-color: pink;
}



/* 
----------- CSS Transitin --------------------
Transitions enable you to define the transition between two states of an element
*/

/* 
-------------- Transition Shorthand -------------------------
property name | duration | timing-function | delay

Example:
transition: margin-top 2s ease-in-out 0.2s
*/