/* 1. universal selector */
* {
    font-family: courier New;
}

/* 2. element selector */
h3,
h1 {
    color: #b92b27;
}

/* 3. id selector */
#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
} 

/* 4. class selector */
.upvote {
    background-color: green;
    color: aliceblue;
}

/* 5. desendant selector */
/* p a {
    color: purple;
    background-color: yellow;
} */
.post a {
    color: purple;
    background-color: yellow;
}

nav ul li a {
    color: hotpink;
}
/* this code is also same */
/* nav a {
    color: hotpink;
} */


/* 6. adjasent sibling combinator */
p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: cornflowerblue;
    color: darkblue;
}

/* 7. child combinator */
div > input {
    background-color: darksalmon;
}

/* attribute selector */
input[type="text"] {
    color: green;
}

input[type="password"] {
    color: red;
}

input[type] {
    background-color: ghostwhite;
}

/* ----------------------------------------------------- */

#myId p {
    color: green;
}

/* ==================== pseudo-class ================== */
/* :hover pseudo class */
button:hover {
    background-color: black;
    color: white;
}

h3:hover {
    text-decoration: overline;
}

/* :active pseudo class */
button:active {
    background-color: hotpink;
}

p:active {
    font-weight: bold;
    color: green;
}

/* :checked pseudo class */
input[type='radio']:checked + label {
    color: red;
    font-weight: bold;
}

/* :nth-of-type pseudo class */
div:nth-of-type(2n) {
    background-color: blanchedalmond;
}

/* ==================== pseudo-element ================== */

/* ::first-letter pseudo element*/
h1::first-letter {
    color: black;
}

/* ::first-line pseudo element */
p::first-line {
    color: purple;
}

/* ::selection pseudo element */
p::selection {
    background-color: rgb(245, 243, 131);
}