#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;

    justify-content: flex-start;

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;

}

h1 {
    text-align: center;
}


#container div {
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}


/* 
------------------- Flex Wrap --------------------------

Sets whether flex items are forced onto one line or can wrap onto multiple lines

Example:

flex-wrap: nowrap;

flex-wrap: wrap;

flex-wrap: wrap-reverse;
*/