div {
    height: 200px;
    width: 200px;
    background-color: rgba(43, 255, 0, 0.5);
}

#opacity {
    background-color: #ffa511;
    opacity: 0.5;
}

/* 
------------------ Alpha --------------------------
Sets the opacity for a 'color'
- Ranges from (hidden)0 to 1

rgba(255, 255, 255, 0.5)
*/

/* 
--------------- Opacity --------------------------
Sets the opacity for the 'element'
- ranges from (hidden)0 - 1;

opacity: 0.5;
*/