/* Qs1. Add a 2s transition on box1 for width changes.
       It should have 'ease-in' speed curve & 0.5s delay  */

#box1 {
    width: 100px;
    height: 100px;
    background-color: green;
}

#box1:hover {
    width: 100%;
    transition: 2s width ease-in 0.5s;
}


/* Qs2. Using transform, move box2 200px to the right  & 
        200px down. Also rotate it 90deg.*/
#box2 {
    height: 100px;
    width: 100px;
    background-color: red;
}

#box2:hover {
    right: 200px;
    bottom: 200px;
    transform: rotate(90deg);
    transform: translate(200px, 200px);
}

/* Qs3. Using transform, skew box3 20deg along the x axis.*/

#box3 {
    height: 100px;
    width: 100px;
    background-color: lightblue;
}

#box3:hover {
    transform: skewX(20deg);
}

/* Qs4. Set a 2px horizontal & 2px vertical, green shadow 
        for box4, with a 5px blur radius.*/

#box4 {
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px green;
}  

/* Qs5. Set Your picture or any picture as the background of the div
        "myPic". Also, set transparency of this div to 50%. */

#myPic {
    height: 200px;
    width: 200px;
    background-color: pink;
    background-image: url(man.jpg);
    background-size: cover;
    opacity: 50%;
} 

