#container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: baseline;

}

h1 {
    text-align: center;
}


#container div {
    height: 100px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}


/* 
-------------------- Align Items ------------------------------
Distributes our items along the cross axis

Exmaple: 

align-items: stretch;

align-items: flex-start;

align-items: flex-end;

align-items: center;

align-items: baseline;


*/