
/* ## My solution */

/* .face {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: yellow;
}

.mouth {
    height: 30px;
    width: 40%;
    border: 2px solid black;
    position: relative;
    top: 150px;
    left: 30%;
    border-radius: 0 0 30px 30px;
    background-color: red;
}

.eyes {
    height: 30px;
    width: 40%;
    position: relative;
    top: 30%;
    left: 30%;
}

.left-eye {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
}

.right-eye {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 68px;

} */

/* --------------- ## Teacher Solution -----------------*/

.face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%; 
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye, .right-eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right-eye {
    left: 250px;
}