#container {
    height: 50px; 
    width: 900px;
    background-color: pink;
    border: 2px solid aqua;  
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;

}

#container div {
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
    /* text-align: center; */
}